body{
    background: url('https://images.pexels.com/photos/1435752/pexels-photo-1435752.jpeg?_gl=1*1rtvbfy*_ga*MTkyMTkyMTM1OC4xNzUzNDI3MTM3*_ga_8JE65Q40S6*czE3NTM0MjcxMzYkbzEkZzEkdDE3NTM0MjcxNzckajE5JGwwJGgw');
    width: 100%;
    height: 100%;
    background-position: center bottom;
}