body{
    background: url('https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?_gl=1*thak1q*_ga*MTk2ODcwOTM3Ni4xNzQyNzU5Mzgy*_ga_8JE65Q40S6*czE3NTI0NzExNzUkbzEzJGcxJHQxNzUyNDcxMTk4JGozNyRsMCRoMA..');
    width: 100%;
    height: 100%;
    background-position: center bottom;
}